@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.no-cursor {
  cursor: not-allowed;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

/* BURGER MENU */
.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
}
.menu--open{
  max-height: 100vh;
  overflow-y: hidden;
}

.button__menu{
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}
.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}
.button__menu--close{
  position:absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}
.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.menu__list{
  padding: 32px 0;
}
.menu__link{
  font-size: 40px;
  color: white;
}
/* NAV BAR */
nav {
  height: 80px; /*size of nav bar*/
  display: flex; /*aligns nav objects to the right */
}
.nav__container {
  width: 100%; /*fills nav to use 100% of the screen*/
  max-width: 1200px; /*allows for large screen to not be too spaced out*/
  display: flex; /*allows for container items to be right-left*/
  justify-content: space-between; /*spaced out evenly*/
  align-items: center; /*centers obects on y-axis*/
  margin: 0 auto; /*centers container*/
  padding: 0 24px;
}
.nav__logo {
  width: 160px; /*change nav image size*/
}
ul {
  display: flex; /*aligh list left-right*/
}
li {
  list-style-type: none; /*remove dot on list item*/
}
.nav__link {
  margin-left: 16px; /*spaces out links*/
  text-decoration: none; /*removes underline*/
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
  padding: 8px; /*adds padding for border item*/
}
.nav__link:hover {
  text-decoration: underline; /*adds underline while hovering over link*/
}
.nav__link--primary {
  /*adds box around books link*/
  border: 2px solid #7342d6;
  border-radius: 4px;
}
.nav__link--primary:hover {
  /*removes underline while hovering over books link*/
  text-decoration: none;
}

#landing {
  /*change landing page background color*/
  background-color: rgba(115, 66, 214, 0.1);
}
/* HEADER */
header {
  /* set the header size to 100% screen size vertically - size of nav (80px)*/
  height: calc(100vh - 80px);
}
.text--purple {
  color: #7342d6;
}
.header__container {
  width: 100%; /*sets container at 100% of parent*/
  max-width: 720px;
  margin: 0 auto; /*center container in parent*/
  height: 100%; /*sets height to same size as parent*/
  display: flex; /*sets flex box to column and spaced items to top and bottom*/
  flex-direction: column;
  justify-content: space-around;
  padding-top: 24px;
}
img {
  width: 100%; /*set image to same width as parent*/
}
h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}
p {
  line-height: 1.5;
}
button {
  /*changes cursor to hand when hovering over button*/
  cursor: pointer;
}
button:active {
  /* add bounce animation when clicking any button*/
  transform: translateY(1px);
}
.header__button {
  /*configures button*/
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}
.header__description {
  /*centers all items in the header as column*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__img--wrapper {
  /*adds padding space between img and button*/
  padding: 20px;
  z-index: 2; /*set z-index higher than wave to avoid being overlapped*/
}
.header__img {
  /*sets image to only take up max 50% of the screen*/
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}
.container {
  padding: 56px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.row_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* HIGHLIGHTS */
#highlights {
  /*set relative position to parent before and after*/
  position: relative;
  max-width: 100vw;
}
#highlights:before,
#highlights:after {
  background: url(wave.svg);
  content: "";
  position: absolute;
  width: 101vw; /*set width to full width of screen*/
  height: 12vw;
  left: 0;
  z-index: 1; /*set z-index 1 higher than background to overlap*/
  background-size: cover;
  background-repeat: no repeat;
}
#highlights:before {
  top: 1px;
  transform: translateY(-100%); /*moves image 1 full size up*/
}
#highlights:after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg); /*move image full size downward and rotate upside down*/
}
.highlight__wrapper {
  display: flex; /*move children to right-left*/
  /* display: 100%; */
  flex-wrap: wrap;
}
.highlight {
  padding: 0 24px;
  width: calc(100% / 3); /*set 3 per line*/
  display: flex; /*set each highlight to show column, centered and spaced out*/
  flex-direction: column;
  align-items: center;
}
.highlight__para {
  /*align paragraph text to the center*/
  text-align: center;
  max-width: 280px;
}
.highlight__img {
  border: 2px solid #7342d65d; /*create box around image*/
  color: #7342d6;
  width: 100px; /*create 100px square box*/
  height: 100px;
  display: flex;
  align-items: center; /*set the image in center of the box*/
  justify-content: center;
  border-radius: 4px; /*round out the edges*/
  font-size: 32px; /*increase size of img*/
  margin-bottom: 24px; /*set some space between box and next text*/
}
.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

/* FEATURES */

#features {
  padding-top: 8vw;
  background-color: rgba(
    115,
    66,
    214,
    0.1
  ); /*set background color of features section*/
}
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book {
  width: 25%;
  padding: 24px;
}
.book__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: not-allowed;
}
.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}
.book:hover .book__img {
  transform: scale(1.03);
}
.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}
.book__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}
.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}
.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}
/*creates header for all books section*/
.books__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
/*characteristics for filter drop down*/
select{ 
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.books__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #7342d6;
}
.books__loading--spinner{
  display: none !important;
}
.books__loading .fa-spinner{
  display: block !important;
}
.fa-spinner {
  animation: rotate 600ms infinite linear;
}


@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* BROWSE */

#browse {
  background-color: rgba(
    115,
    66,
    214,
    0.1
  ); /*set background color of features section*/
}
.browse__section--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.browse__button {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  width: 180px;
}

/* FOOTER */

footer {
  background-color: #242424;
}
.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: white;
}
.footer__logo {
  display: flex;
}
.footer__list {
  margin: 20px 0 24px 0;
}
.footer__link {
  padding: 0 8px;
}
/* TABLETS, LARGE SMARTPHONES */
@media (max-width:768px){
  .header__description{
    padding: 0 24px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 26px;
  }
  button{
    font-size: 18px;
  }
  .book{
    width: 50%
  }
}
/* SMALL PHONES, LARGE SMARTPHONE */
@media (max-width:550px){
  .nav__links{
    display: none;
  }
  .button__menu{
    display: block;
  }
  .highlight{
    width: 100%;
  }
  .highlight:not(last-child)
  {
    margin-bottom: 24px;
  }
}
